body {
    background-color: bisque;
    text-align: center;
}
  
  
.description-item {
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: brown

};
.description-item {
    font-size: 25px;
    color: aliceblue;
    margin-left: 10%;
    margin-right: 10%;

};